html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}

#screen {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#dvd {
    position: absolute;
    width: 120px;
    height: auto;
}
